@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	background-color: #333;
}

.blue-text {
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}

nav {
	text-transform: uppercase;
	transition: all 0.6s ease-in-out;
	z-index: 2;

	.navbar-toggler {
		padding: 10px 15px;
		border: 1px solid $white-color;
	}

	.nav-link,
	.navbar-nav .nav-link.show,
	.navbar-brand,
	.ti-menu-2 {
		color: $white-color;
		transition: color 0.3s ease-in-out;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: $main-color;
	}

	.navbar-brand {
		img {
			width: 150px;
		}

		transition: all 0.3s ease-in-out;
	}

	.navbar-brand:hover {
		box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
		border-radius: 10px;
	}
}

@mixin hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	position: relative;

	h1 {
		text-transform: uppercase;
	}

	.hero-text-inner {
		position: relative;
		backdrop-filter: blur(8px);
		border-radius: 20px;
		padding: 20px;
		z-index: 2;
	}
}

// Mixin for the shadow background
@mixin hero-shadow($opacity: 0.7) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, $opacity);
	z-index: -1;
}

// Mixin for buttons with custom color
@mixin hero-button($color) {
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: $color;
	}
}

// Mixin for the animated scroll arrow
@mixin scroll-animation {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 35px;
	color: $white-color;
	transition: color 0.3s ease-in-out;
	animation: bounce-top 2.2s infinite both;

	&:hover {
		color: $main-color;
	}

	@keyframes bounce-top {
		0% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-in;
		}
		25% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-in;
		}
		50% {
			transform: translateX(-50%) translateY(0);
			transform-origin: center bottom;
			animation-timing-function: ease-out;
		}
		75% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-out;
		}
		100% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-out;
		}
	}
}
// Mixin for the background change buttton
@mixin toggle-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 50px;
	cursor: pointer;
}

// Mixin for background images
@mixin background-hero($image) {
	position: relative;
	height: 100vh;
	background-image: url($image);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $white-color;
	z-index: 1;
}

header.hero-img {
	@include background-hero('../assets/hero-small.jpg');

	.hero-text {
		@include hero-section;
	}

	.hero-shadow {
		@include hero-shadow(0.5);
	}

	.btn-outline-light {
		@include hero-button($main-color);
	}

	.ti-chevrons-down {
		@include scroll-animation;
	}

	.toggle-background {
		@include toggle-button;
	}
}

header.hero-video {
	position: relative;
	height: 100vh;
	color: $white-color;

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
		transition: opacity 4s ease-out;
	}

	video.end {
		opacity: 0;
	}

	.hero-text {
		@include hero-section;
	}

	.hero-shadow {
		@include hero-shadow(0.4);
	}

	.btn-outline-light {
		@include hero-button($main-color);
	}

	.ti-chevrons-down {
		@include scroll-animation;
	}

	.toggle-background {
		@include toggle-button;
	}
}

@media (min-width: 768px) {
	.hero-text {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
	}
	nav {
		.navbar-brand {
			img {
				width: 200px;
			}
		}
	}
}

@media (min-width: 1200px) {
	header.hero-img {
		background-image: url('../assets/hero-big.jpg');
	}
}

@media (max-width: 1200px) {
	header.hero-video {
		@include background-hero('../assets/hero-small.jpg');

		video {
			display: none;
		}
	}
}
